/******************************
MEDIA LIST (table)
******************************/

table.media {
	width: 100%;
	border-collapse: collapse;
}

/******************************
MEDIA ENTRY
******************************/

tr.media {
 background: #F8F8F8;
 border-bottom: 1px solid #D6D6D6;
}

tr.media.playing {
 background: #EFEFEF;
}

tr.media > td {
	padding: 0 3px;
	line-height: 16px;
	vertical-align: middle;
}

tr.media > td > a {
	display: inline-block; *zoom: 1;
	color: #444;
	text-decoration: none;
}

tr.media > td > a:hover {
	padding: 0 0 0 20px;
	background: url('/image/control_play.png') no-repeat top left;
}

tr.media.playing > td > a {
	padding: 0 0 0 20px;
	color: black;
	font-weight: bold;	
	background: url('/image/control_play_blue.png') no-repeat top left;
}

/******************************
RATER
******************************/

div.rater {
	display: inline-block; *zoom: 1;
	width: 80px;
	height: 16px;
}

div.rater > a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	color: transparent;
	text-decoration: none;
	background: url('/image/bullet_white.png') no-repeat;
}

div.rater > a.star {
	background: url('/image/star.png') no-repeat;
}

