/******************************
MEDIA LIST (table)
******************************/

table.media {
	width: 100%;
	border-collapse: collapse;
}

/******************************
MEDIA ENTRY
******************************/

tr.media {
 background: #F8F8F8;
 border-bottom: 1px solid #D6D6D6;
}

tr.media > td {
	padding: 0 3px;
	line-height: 16px;
	vertical-align: middle;
}

tr.media > td > a {
	display: inline-block; *zoom: 1;
	color: #444;
	text-decoration: none;
}

tr.media.playing > td > a {
	color: black;
	font-weight: bold;	
}

