/******************************
GENERAL
******************************/

span.pager {
	display: inline-block; *zoom: 1;
	margin: 0 5px;
}

/* alignment */
span.pager > a,
span.pager > select {
	vertical-align: middle;
}

/******************************
BUTTONS
******************************/

span.pager > a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	color: transparent;
}

span.pager > a.first {
	background: url('/image/resultset_first.png');
}

span.pager > a.prev {
	background: url('/image/resultset_previous.png');
}

span.pager > a.next {
	background: url('/image/resultset_next.png');
}

span.pager > a.last {
	background: url('/image/resultset_last.png');
}

