/******************************
PAGE LAYOUT
******************************/

h1 {
	margin: 0;
	font-family: tahoma, sans;
	font-size: 24px;
	font-weight: bold;
}

#kinds,
#controls,
#rootadd {
	margin: 10px 0 0 0;
}

#pager {
	position: absolute;
	right: 0;
}

