/******************************
GENERAL
******************************/

span.tag {
	display: inline-block; *zoom: 1;
	line-height: 16px;
	margin: 3px 5px 3px 0;
	vertical-align: top;
}

span.tag.display,
span.tag > input {
	padding: 1px 3px 1px;
	border-radius: 3px; -moz-border-radius: 3px;
}

/******************************
EDIT - DISPLAY STATE
******************************/

span.tag.display {
	color: grey;
	background: lightgrey;
}

/* highlighted tag (search hit) */
span.tag.display.hit {
	margin: 1px 5px 1px 0;
	border: 2px solid red;
}

/* tag with kind */
span.tag.kind1 {
	color: darkred;
	background: pink;
}
span.tag.kind2 {
	color: darkgreen;
	background: lightgreen;
}
span.tag.kind3 {
	color: darkblue;
	background: lightblue;
}
span.tag.kind4 {
	color: brown;
	background: orange;
}
span.tag.kind5 {
	color: darkcyan;
	background: cyan;
}
span.tag.kind6 {
	color: chocolate;
	background: yellow;
}
span.tag.kind7 {
	color: brown;
	background: khaki;
}
span.tag.kind8 {
	color: white;
	background: grey;
}
span.tag.kind9 {
	color: pink;
	background: darkred;
}
span.tag.kind10 {
	color: lightgreen;
	background: darkgreen;
}
span.tag.kind11 {
	color: lightblue;
	background: darkblue;
}
span.tag.kind12 {
	color: orange;
	background: brown;
}
span.tag.kind13 {
	color: cyan;
	background: darkcyan;
}
span.tag.kind14 {
	color: yellow;
	background: chocolate;
}
span.tag.kind15 {
	color: lightgrey;
	background: black;
}

/* content alignment */
span.tag > span,
span.tag > a,
span.tag > input,
span.tag > label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 10px;
}

/* delete button in tag */
span.tag > a {
	margin: 0 3px 0 0;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

/* delete button hovered */
span.tag > a:hover {
	text-decoration: underline;
}

/* checkbox */
span.tag > input {
	margin: 0 3px 0 0;
}

/******************************
EDIT - EDIT STATE
******************************/

/* tag editor */
span.tag.edit {
	position: relative;
	width: 122px;
}

span.tag.edit > input {
	position: absolute;
	width: 120px;
	height: 13px;
	padding: 0;
	border: 1px solid red;
	font-size: 10px;
}

/******************************
ADD - DISPLAY STATE
******************************/

/* tag adder */
span.add.tag {
	background: lightgreen;
}

/* add button in add tag */
span.add.tag > a {
	margin: 0;
	color: green;
}

/******************************
ADD - EDIT STATE
******************************/

/* add tag editor */
span.tag.edit.add > input.focus {
	z-index: 2;
	border: 1px solid green;
	background: transparent;
}

/* add tag backdrop displaying best match */
span.tag.edit.add > input.backdrop {
	z-index: 1;
	color: silver;
	background: white;
}

