/******************************
GENERAL
******************************/

span.tag {
	display: inline-block; *zoom: 1;
	line-height: 16px;
	margin: 3px 5px 3px 0;
	vertical-align: top;
}

span.tag.display,
span.tag > input {
	padding: 1px 3px 1px;
	border-radius: 3px; -moz-border-radius: 3px;
}

/******************************
EDIT - DISPLAY STATE
******************************/

span.tag.display {
	color: #888;
	background: #EEE;
}

/* highlighted tag (search hit) */
span.tag.display.hit {
	margin: 1px 5px 1px 0;
	border-width: 2px;
	border-style: solid;
}

/* tag with kind */
span.tag.kind1 {
	color: #5A6986;
	border-color: #5A6986;
	background: #DEE5F2;
}
span.tag.kind2 {
	color: #206CFF;
	border-color: #206CFF;
	background: #E0ECFF;
}
span.tag.kind3 {
	color: #00C;
	border-color: #00C;
	background: #DFE2FF;
}
span.tag.kind4 {
	color: #5229A3;
	border-color: #5229A3;
	background: #E0D5F9;
}
span.tag.kind5 {
	color: #854F61;
	border-color: #854F61;
	background: #FDE9F4;
}
span.tag.kind6 {
	color: #C00;
	border-color: #C00;
	background: #FFE3E3;
}
span.tag.kind7 {
	color: #EC7000;
	border-color: #EC7000;
	background: #FFF0E1;
}
span.tag.kind8 {
	color: #B36D00;
	border-color: #B36D00;
	background: #FADCB3;
}
span.tag.kind9 {
	color: #AB8B00;
	border-color: #AB8B00;
	background: #F3E7B3;
}
span.tag.kind10 {
	color: #636330;
	border-color: #636330;
	background: #FFFFD4;
}
span.tag.kind11 {
	color: #64992C;
	border-color: #64992C;
	background: #F9FFEF;
}
span.tag.kind12 {
	color: #063;
	border-color: #063;
	background: #F1F5EC;
}

/* content alignment */
span.tag > span,
span.tag > a,
span.tag > input,
span.tag > label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 10px;
}

/* delete button in tag */
span.tag > a {
	margin: 0 3px 0 0;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

/* delete button hovered */
span.tag > a:hover {
	text-decoration: underline;
}

/* checkbox */
span.tag > input {
	margin: 0 3px 0 0;
}

/******************************
EDIT - EDIT STATE
******************************/

/* tag editor */
span.tag.edit {
	position: relative;
	width: 122px;
}

span.tag.edit > input {
	position: absolute;
	width: 120px;
	height: 13px;
	padding: 0;
	border: 1px solid #64992C;
	font-size: 10px;
}

/******************************
ADD - DISPLAY STATE
******************************/

/* tag adder */
span.add.tag {
	background: #64992C;
}

/* add button in add tag */
span.add.tag > a {
	margin: 0;
	color: #F9FFEF;
	text-decoration: none;
}

/******************************
ADD - EDIT STATE
******************************/

/* add tag editor */
span.tag.edit.add > input.focus {
	z-index: 2;
	border: 1px solid #64992C;
	background: transparent;
}

/* add tag backdrop displaying best match */
span.tag.edit.add > input.backdrop {
	z-index: 1;
	color: silver;
	background: white;
}

