/*//////////////////////////////////////////////////////////////////////////////
// Brand CSS
//
// Application logo and colors can be customized through this file.
//////////////////////////////////////////////////////////////////////////////*/

/******************************
GENERAL
******************************/

body {
	background-color: #f3f3f3;
	background-image: url('/image/wwidd_library_bg.png');
	background-position: 0 0;
}

a {
	color: #003e55;
}

/******************************
LIBRARY
******************************/

#library {
	border-color: #303030;
	background: #303030;
}

/******************************
CONTROLS
******************************/

#kinds,
#controls,
#rootadd,
#hints {
	background: #c4d2d7;
}

#rootadd div.progress > div.bar {
	background: #9ab0b7;
}

#controls {
	border-color: #303030;
}

#switcher span.spinner {
	background: url('/image/spinner16dark.gif');
}

/******************************
ROOT ADD
******************************/

#rootadd {
	border-color: #303030;
}

#rootadd input {
	border-color: #003e55;
}

/******************************
GENERAL POPUP
******************************/

div.popup {
	border-color: #616c71;
	background: #f3f3f3;
}

div.popup > div.tree li > span.name {
	color: #444;
}

div.popup > div.spinner {
	background: url('/image/spinner16light.gif');
}

/******************************
SEARCH
******************************/

span.search > input {
	border-color: #003e55;
}

/******************************
MEDIA ENTRY
******************************/

div.media,
div.medium {
	background: #f8f8f8;
}

div.media.tile > div.medium:hover {
	border-color: #e0e0e0;
	background: #e0e0e0;
}

div.media.list > div.medium:hover {
	background: #f0f0f0;
}

div.media.tile > div.medium.playing {
	border-color: #444;
	background: #444;
}

div.media.list > div.medium.playing {
	background: #444;
}

div.media.tile > div.medium > div.file > span,
div.media.list > div.medium > div.file > a {
	color: #444;
}

div.media.tile > div.medium.playing > div.file > span,
div.media.list > div.medium.playing > div.file > a {
	color: #f8f8f8;
}

div.media.tile > div.medium.playing > div.play {
	top: 22px;
	left: 28px;
	height: 72px;
	width: 72px;
	background: url('/image/wwidd_play_72.png') no-repeat top left;
}

div.media.list > div.medium.playing > div.file > a {
	background: url('/image/wwidd_play_16.png') no-repeat bottom left;
}

div.media.tile > div.medium > div.thumb > span.spinner {
	background: url('/image/spinner48light.gif');
}

