/*//////////////////////////////////////////////////////////////////////////////
// Brand CSS
//
// Application logo and colors can be customized through this file.
//////////////////////////////////////////////////////////////////////////////*/

/******************************
GENERAL
******************************/

body {
	background-color: #f3f3f3;
	background-image: url('/image/widd_library_bg.png');
	background-position: 0 0;
}

a {
	color: #003e55;
}

/******************************
LIBRARY
******************************/

#library {
	border-color: #303030;
	background: #303030;
}

/******************************
CONTROLS
******************************/

#kinds,
#controls,
#rootadd,
#hints {
	background: #c4d2d7;
}

#rootadd div.progress > div.bar {
	background: #9ab0b7;
}

#controls {
	border-color: #303030;
}

#switcher span.spinner {
	background: url('/image/spinner16dark.gif');
}

/******************************
ROOT ADD
******************************/

#rootadd {
	border-color: #303030;
}

#rootadd input {
	border-color: #003e55;
}

/******************************
GENERAL POPUP
******************************/

div.popup {
	border-color: #616c71;
	background: #f3f3f3;
}

div.popup > div.tree li > span.name {
	color: #444;
}

div.popup > div.spinner {
	background: url('/image/spinner16light.gif');
}

/******************************
SEARCH
******************************/

span.search > input {
	border-color: #003e55;
}

/******************************
MEDIA ENTRY
******************************/

.media,
.medium {
	background: #f8f8f8;
}

div.medium:hover {
	border-color: #c4d2d7;
	background: #c4d2d7;
}

div.medium.playing {
	border-color: #a1cad7;
	background: #a1cad7;
}

div.medium > div.thumb > span.spinner {
	background: url('/image/spinner48light.gif');
}

tr.medium {
	border-color: #c4d2d7;
}

.medium.playing {
	background: #e2f3f9;
}

.medium > .file a {
	color: #444;
}

