/*//////////////////////////////////////////////////////////////////////////////
// Brand CSS
//
// Application logo and colors can be customized through this file.
//////////////////////////////////////////////////////////////////////////////*/

/******************************
GENERAL
******************************/

body {
	background-color: #f3f3f3;
	background-image: url('/image/wwidd_library_bg.png');
	background-position: 0 0;
}

a {
	color: #003e55;
}

/******************************
LIBRARY
******************************/

#library {
	border-color: #303030;
	background: #303030;
}

/******************************
CONTROLS
******************************/

#kinds,
#header,
#footer {
	background: #c4d2d7;
}

#footer div.progress > div.bar {
	background: #9ab0b7;
}

#header {
	border-color: #303030;
}

#switcher span.spinner {
	background: url('/image/spinner16dark.gif');
}

/******************************
GENERAL POPUP
******************************/

div.popup {
	border-color: #616c71;
	background: #f3f3f3;
}

div.popup > div.tree li > span.name {
	color: #444;
}

div.popup > div.spinner {
	background: url('/image/spinner16light.gif');
}

/******************************
SEARCH
******************************/

span.search > input {
	border-color: #003e55;
}

/******************************
MEDIA ENTRY
******************************/

div.media,
div.medium {
	background: #f8f8f8;
}

div.medium.thumb:hover { 
	border-color: #e0e0e0;
	background: #e0e0e0;
}

div.medium.expanded {
	border-color: #f0f0f0;
	background: #f0f0f0;
}

div.medium.compact:hover {
	background: #f0f0f0;
}

div.medium.thumb.playing,
div.medium.expanded.playing {
	border-color: #B1C3C9;
	background: #B1C3C9;
}

div.medium.compact.playing {
	background: #B1C3C9;
}

div.medium > div.file > span {
	color: #444;
}

div.medium.playing > div.file > span,
div.medium.playing > div.keywords span {
	color: #181818;
}

div.medium > div.play {
	background: url('/image/wwidd_play_72.png') no-repeat center center;
}

div.medium.compact.playing > div.file > span {
	background: url('/image/wwidd_play_16.png') no-repeat bottom left;
}

div.medium.thumb > div.thumb > span.spinner,
div.medium.expanded > div.thumb > span.spinner {
	background: url('/image/spinner48light.gif');
}

div.medium > div.keywords {
	color: #444;
}

