/******************************
KINDS
******************************/

div.kinds {
	width: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
}

div.kinds span.tag.display > input {
	margin: 0 3px 0 0;
}

