/******************************
KINDS
******************************/

div#kinds span.tag.display {
	box-shadow: 0 0 3px #aaa; -moz-box-shadow: 0 0 3px #aaa;
}

div#kinds span.tag.display > input {
	margin: 0 3px 0 0;
}

