/******************************
LIBRARY SELECTOR POPUP
******************************/

div.w_libsel > ul {
	min-width: 100px;
}

div.w_libsel > ul > li {
	padding-right: 48px;
}

div.w_libsel > ul > li.selected {
	background: transparent;
}

div.w_libsel > ul a {
	display: inline-block; *zoom: 1;
	height: 16px;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: middle;
}

div.w_libsel > ul a.save {
	position: absolute;
	top: 4px;
	width: 16px;
}

div.w_libsel > ul > li:hover a.save {
	display: inline-block; *zoom: 1;
}

div.w_libsel > ul a.save {
	right: 4px;
	background: url('/image/sprites.png') no-repeat -60px -140px;
}

div.w_libsel > ul span {
	color: grey;
}

