/******************************
EMPTY LIBRARY
******************************/

span.warning {
	display: inline-block; *zoom: 1;
	margin: 0 0 0 5px;
}

span.warning > span {
	display: inline-block; *zoom: 1;
	height: 20px;
	line-height: 20px;
	margin: 0 4px 0 0;
	vertical-align: middle;
	font-weight: bold;
	color: yellow;
}

span.warning > span.icon {
	width: 16px;
	height: 16px;
}

span.warning > span.icon {
	background: url('/image/sprites.png') no-repeat -20px -60px;
}

span.empty > span.icon {
	background: url('/image/sprites.png') no-repeat 0 -100px;
}

/******************************
KEYWORDS
******************************/

div.keywords > .details {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

div.keywords ul {
	list-style: none;
}

div.keywords table {
	border-collapse: collapse;
}

div.keywords tr > td:first-child {
	padding: 0 5px 0 0;
	white-space: nowrap;
}

div.keywords > span {
	position: absolute;
}

div.keywords > span.duration {
	top: 0;
	left: 0;
	font-size: 14px;
	font-weight: bold;
}

div.keywords > span.dimensions {
	top: 0;
	right: 0;
}

/******************************
MEDIA ENTRY
******************************/

div.media {
	padding: 5px;
}

div.medium > div.thumb,
div.medium > div.file,
div.medium > div.play {
	cursor: pointer;
}

div.medium > div.file {
	overflow: hidden;
}

div.medium > div.file > span {
	white-space: nowrap;
}

div.medium > div.overlay {
	width: 128px;
	height: 24px;
	background: black;
	opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; *filter:alpha(opacity=50);
	z-index: 3;
}

div.medium > div.play {
	top: 0;
	left: 0;
	width: 128px;
	height: 96px;
	opacity: 0.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; *filter:alpha(opacity=0);
	z-index: 2;
}

div.medium > div.play > div.image {
	position: absolute;
	top: 0;
	left: 0;
}

div.medium.playing > div.play {
	opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; *filter:alpha(opacity=100);
}

div.medium > div.thumb {
	width: 128px;
	height: 96px;
	z-index: 1;
}

div.medium > div.thumb > span.spinner {
	position: absolute;
	top: 34px;
	left: 40px;
	display: inline-block; *zoom: 1;
	width: 48px;
	height: 48px;
	margin: 0 auto;
}

div.medium > div.rater {
	z-index: 4;
}

div.medium > div.check {
	z-index: 4;
}

/******************************
FULL VIEW
******************************/

div.medium.expanded > div {
	position: absolute;
}

div.medium.expanded > div.file > span {
	font-weight: bold;
}

div.medium.expanded > div.play:hover {
	opacity: 0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; *filter:alpha(opacity=60);
}

div.medium.expanded.playing > div.play:hover {
	opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; *filter:alpha(opacity=100);
}

div.medium.expanded > div.keywords {
	height: 96px;
}

div.medium.expanded > div.keywords > .details {
	height: 76px;
}

/******************************
TILE / THUMBNAIL VIEW
******************************/

div.medium.thumb,
div.media.tile > div.medium.expanded {
	position: relative;
	display: inline-block; *display: inline; *zoom: 1;
	height: 115px;
	margin: 0 5px 5px 0;
	border: 5px solid transparent;
	border-radius: 3px; -moz-border-radius: 3px;
	vertical-align: top;
}

div.medium.thumb {
	width: 128px;
}

div.media.tile > div.medium.expanded {
	width: 558px;
}

div.medium.thumb > div {
	position: absolute;
}

div.medium.thumb > div.file,
div.media.tile > div.medium.expanded > div.file {
	top: 96px;
	left: 0;
	margin: 3px 0 1px;
}

div.medium.thumb > div.file {
	width: 124px;
}

div.media.tile > div.medium.expanded > div.file {
	width: 278px;
}

div.medium.thumb > div.overlay,
div.media.tile > div.medium.expanded > div.overlay {
	top: 0;
	left: 0;
}

div.medium.thumb > div.play,
div.media.tile > div.medium.expanded > div.play {
	top: 24px;
	left: 0;
	height: 72px;
}

div.medium.thumb > div.thumb,
div.media.tile > div.medium.expanded > div.thumb {
	top: 0;
	left: 0;
}

div.medium.thumb > div.rater,
div.media.tile > div.medium.expanded > div.rater {
	top: 3px;
	left: 3px; 
}

div.medium.thumb > div.check,
div.media.tile > div.medium.expanded > div.check {
	top: 2px;
	left: 105px;
}

div.media.tile > div.medium.expanded > div.keywords {
	top: 0;
	left: 138px;
	width: 140px;
}

div.media.tile > div.medium.expanded > div.tagger {
	top: 0;
	left: 288px;
	height: 115px;
}

/******************************
LIST / COMPACT VIEW
******************************/

div.medium.compact,
div.media.list > div.medium.expanded {
	margin: 0 0 5px 0;
	border-radius: 3px; -moz-border-radius: 3px;
}

div.media.list > div.medium.expanded {
	position: relative;
	padding: 2px 0;
	height: 122px;
}

div.medium.compact > div.check,
div.medium.compact > div.file,
div.medium.compact > div.rater,
div.medium.compact > div.tagger {
	display: inline-block; *display: inline; *zoom: 1;
	height: 16px;
	padding: 1px 5px 1px 0;
	vertical-align: middle;	
}

div.medium.compact > div.check,
div.media.list > div.medium.expanded > div.check {
	padding: 1px 5px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

div.media.list > div.medium.expanded > div.check {
	top: 2px;
	left: 0;
}

div.medium.compact > div.check > input,
div.media.list > div.medium.expanded > div.check > input {
	height: 14px;
	margin: 1px 0;
	padding: 0;
}

div.medium.compact > div.file {
	width: 300px;
}

div.media.list > div.medium.expanded > div.file {
	top: 2px;
	left: 25px;
	padding: 1px 5px 1px 0;
}

div.medium.compact > div.file > span,
div.media.list > div.medium.expanded > div.file > span {
	display: inline-block; *zoom: 1;
	line-height: 16px;
	padding: 0 20px 0 0;
	text-decoration: none;
}

div.medium.compact.playing > div.file > span {
	padding: 0 0 0 20px;
	background: url('/image/sprites.png') no-repeat -20px -80px;
}

div.media.list > div.medium.expanded > div.keywords {
	top: 24px;
	left: 163px;
	width: 257px; /* 420 - 163 */
}

div.media.list > div.medium.expanded > div.keywords > span.dimensions {
	left: 100px;
}

div.media.list > div.medium.expanded > div.overlay {
	display: none;
}

div.media.list > div.medium.expanded > div.play {
	top: 24px;
	left: 25px;
}

div.media.list > div.medium.expanded > div.thumb {
	top: 24px;
	left: 25px;
}

div.medium.compact > div.rater,
div.media.list > div.medium.expanded > div.rater {
	width: 85px;
	height: 16px;
}

div.media.list > div.medium.expanded > div.rater {
	top: 24px;
	left: 330px;
}

div.medium.compact > div.tagger,
div.media.list > div.medium.expanded > div.tagger {
	min-width: 200px;
	height: auto;
	margin: 0 0 0 5px;
}

div.media.list > div.medium.expanded > div.tagger {
	top: 24px;
	left: 420px;
}

/******************************
RATER
******************************/

div.rater {
	display: inline-block; *zoom: 1;
	width: 80px;
	height: 16px;
}

div.rater > a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	color: transparent;
	text-decoration: none;
	background: url('/image/sprites.png') no-repeat -20px -120px;
}

div.rater > a.star {
	background: url('/image/sprites.png') no-repeat 0 -120px;
}

