/******************************
EMPTY LIBRARY
******************************/

span.warning {
	display: inline-block; *zoom: 1;
	margin: 0 0 0 5px;
}

span.warning > span {
	display: inline-block; *zoom: 1;
	height: 20px;
	line-height: 20px;
	margin: 0 4px 0 0;
	vertical-align: middle;
	font-weight: bold;
	color: yellow;
}

span.warning > span.icon {
	width: 16px;
	height: 16px;
}

span.warning > span.icon {
	background: url('/image/sprites.png') no-repeat -20px -60px;
}

span.empty > span.icon {
	background: url('/image/sprites.png') no-repeat 0 -100px;
}

/******************************
KEYWORDS
******************************/

div.keywords > .details {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

div.keywords ul {
	list-style: none;
}

div.keywords table {
	border-collapse: collapse;
}

div.keywords tr > td:first-child {
	padding: 0 5px 0 0;
	white-space: nowrap;
}

div.keywords > span {
	position: absolute;
}

div.keywords > span.duration {
	top: 0;
	left: 0;
	font-size: 14px;
	font-weight: bold;
}

div.keywords > span.dimensions {
	top: 0;
	right: 0;
}

/******************************
MEDIA ENTRY
******************************/

div.media {
	padding: 5px;
}

