/******************************
EMPTY LIBRARY
******************************/

span.warning {
	display: inline-block; *zoom: 1;
	height: 20px;
	line-height: 20px;
	margin: 0 0 0 5px;
	padding: 0 0 0 20px;
	vertical-align: middle;
	font-weight: bold;
	color: yellow;
	background: url('/image/error.png') no-repeat left center;
}
	
span.empty {
	background: url('/image/arrow_down.png') no-repeat left center;
}

/******************************
MEDIA LIST (table)
******************************/

table.media {
	width: 100%;
	border-collapse: collapse;
}

/******************************
MEDIA ENTRY
******************************/

.medium .play {
	cursor: pointer;
}

.medium > .file a {
	display: inline-block; *zoom: 1;
	width: 300px;
	padding: 0 20px 0 0;
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
}

.medium > .file a:hover {
	padding: 0 0 0 20px;
	background: url('/image/control_play.png') no-repeat center left;
}

.medium.playing > .file a {
	padding: 0 0 0 20px;
	color: black;
	font-weight: bold;	
	background: url('/image/control_play_blue.png') no-repeat center left;
}

/******************************
TILE VIEW
******************************/

div.medium {
	position: relative;
	display: inline-block; *display: inline; *zoom: 1;
	width: 128px;
	height: 116px;
	margin: 5px;
	vertical-align: top;
	overflow: hidden;
}

div.medium > div {
	position: absolute;
}

div.medium > div.file {
	top: 100px;
	left: 0;
}

div.medium > div.overlay {
	top: 0px;
	left: 0;
	width: 128px;
	height: 24px;
	background: black;
	opacity: 0.5; *filter:alpha(opacity=50);
	z-index: 2;
}

div.medium > div.thumb {
	top: 0px;
	left: 0;
	z-index: 1;
}

div.medium > div.rater {
	top: 3px;
	left: 3px; 
	z-index: 3;
}

div.medium > div.check {
	top: 2px;
	right: 0;
	z-index: 3;
}

div.medium > div.tagger {
	top: 120px;
	left: 0;
	z-index: 4;
}

/******************************
LIST VIEW
******************************/

tr.medium {
	border-top: 1px solid;
}

tr.medium:first-child {
	border-top: none;
}

/******************************
COLUMNS
******************************/

tr.medium > td.check {
	width: 16px;
}

tr.medium > td.file {
	width: 300px;
}

tr.medium > td.rater {
	width: 85px;
}

tr.medium > td.tagger {
	width: 100%;
	min-width: 200px;
}

/******************************
RATER
******************************/

div.rater {
	display: inline-block; *zoom: 1;
	width: 80px;
	height: 16px;
}

div.rater > a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	color: transparent;
	text-decoration: none;
	background: url('/image/bullet_white.png') no-repeat;
}

div.rater > a.star {
	background: url('/image/star.png') no-repeat;
}

