/******************************
EMPTY LIBRARY
******************************/

span.warning {
	display: inline-block; *zoom: 1;
	height: 20px;
	line-height: 20px;
	margin: 0 0 0 5px;
	padding: 0 0 0 20px;
	vertical-align: middle;
	font-weight: bold;
	color: yellow;
	background: url('/image/error.png') no-repeat left center;
}
	
span.empty {
	background: url('/image/arrow_down.png') no-repeat left center;
}

/******************************
MEDIA LIST (table)
******************************/

table.media {
	width: 100%;
	border-collapse: collapse;
}

/******************************
MEDIA ENTRY
******************************/

tr.media {
 background: #f8f8f8;
 border-top: 1px solid #e3f29b;
}

tr.media:first-child {
	border-top: none;
}

tr.media.playing {
 background: #e9f3b7;
}

tr.media > td.file a {
	display: inline-block; *zoom: 1;
	width: 300px;
	padding: 0 20px 0 0;
	overflow: hidden;
	color: #444;
	text-decoration: none;
	white-space: nowrap;
}

tr.media > td.file a:hover {
	padding: 0 0 0 20px;
	background: url('/image/control_play.png') no-repeat center left;
}

tr.media.playing > td.file a {
	padding: 0 0 0 20px;
	color: black;
	font-weight: bold;	
	background: url('/image/control_play_blue.png') no-repeat center left;
}

/******************************
COLUMNS
******************************/

tr.media > td.check {
	width: 16px;
}

tr.media > td.file {
	width: 300px;
}

tr.media > td.rater {
	width: 85px;
}

tr.media > td.tagger {
	width: 100%;
	min-width: 200px;
}

/******************************
RATER
******************************/

div.rater {
	display: inline-block; *zoom: 1;
	width: 80px;
	height: 16px;
}

div.rater > a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	color: transparent;
	text-decoration: none;
	background: url('/image/bullet_white.png') no-repeat;
}

div.rater > a.star {
	background: url('/image/star.png') no-repeat;
}

