/******************************
GENERAL
******************************/

body {
	position: relative;
	min-width: 750px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/******************************
HEADER
******************************/

h1 {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 72px;
	margin: 0;
}

/******************************
LIBRARY
******************************/

#library {
	margin: 5px 0 0 0;
	border: 3px solid;
	border-radius: 5px; -moz-border-radius: 5px;
}

/******************************
CONTROLS
******************************/

#controls,
#rootadd {
	margin: 0;
	padding: 5px;
}

#controls {
	height: 24px;
	border-top-left-radius: 3px; -moz-border-top-left-radius: 3px;
	border-top-right-radius: 3px; -moz-border-top-right-radius: 3px;
	border-bottom: 1px solid;
}

#controls > span {
	display: inline-block; *zoom: 1;
	height: 24px;
	margin: 0 0 0 10px;
}

#controls > span:first-child {
	margin: 0;
}

#controls span,
#controls a {
	line-height: 24px;
	vertical-align: middle;		
}

#controls select,
#controls button {
	vertical-align: middle;		
}

/******************************
CHECKER
******************************/

#checker a {
	margin: 0 10px 0 0;
	text-decoration: none;
}

/******************************
LIBRARY SWITCHER
******************************/

#switcher > span > span,
#switcher > span > select {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#switcher span.spinner {
	display: inline-block; *zoom: 1;
	height: 16px;
	width: 16px;
}

/******************************
VIEW SELECTOR
******************************/

#views a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#views a.tile {
	background: url('/image/application_view_tile.png');
}

#views a.list {
	background: url('/image/application_view_list.png');
}

/******************************
PAGER
******************************/

#pager {
	position: absolute;
	right: 5px;
}

/******************************
HINTS
******************************/

#hints {
	position: relative;
	height: 16px;
	padding: 5px 5px 0 5px;
	border-top: 1px solid;
}

div.hints {
	padding: 0 0 0 20px;
	background: url('/image/information.png') no-repeat center left;
}

div.hints > a.next {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url('/image/arrow_refresh.png') no-repeat;
}

/******************************
PROGRESS
******************************/

div.progress {
	height: 20px;
	width: 100%;
}

div.progress > div.bar {
	height: 20px;
	width: 0;
}

/******************************
ROOT ADD
******************************/

#rootadd {
	margin-top: -1px;	/* iOS bug workaround */
	padding: 5px;
	vertical-align: middle;
	border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px;
}

#rootadd table {
	width: 100%;
	border-collapse: collapse;
}

#rootadd table td.progress {
	width: 100%;
}

#rootadd table td.button button {
	margin: 0 5px 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

