/******************************
GENERAL
******************************/

body {
	position: relative;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/******************************
HEADER
******************************/

h1 {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 72px;
	margin: 0;
}

/******************************
LIBRARY
******************************/

#library {
	margin: 5px 0 0 0;
	border: 3px solid;
	border-radius: 5px; -moz-border-radius: 5px;
}

/******************************
CONTROLS
******************************/

#kinds,
#controls,
#rootadd {
	margin: 0;
	padding: 2px 5px;
}

#kinds {
	border-top-left-radius: 3px; -moz-border-top-left-radius: 3px;
	border-top-right-radius: 3px; -moz-border-top-right-radius: 3px;
}

#controls {
	height: 24px;
	line-height: 24px;
	vertical-align: bottom;
	border-bottom: 1px solid;
}

#checker a {
	margin: 0 10px 0 0;
	text-decoration: none;
}

/******************************
LIBRARY SWITCHER
******************************/

#switcher > span > span {
	margin: 0 5px 0 0;
}

/******************************
PAGER
******************************/

#pager {
	position: absolute;
	margin: 0 5px 0 0;
	right: 5px;
}

/******************************
PROGRESS
******************************/

div.progress {
	height: 20px;
	width: 100%;
}

div.progress > div.bar {
	height: 20px;
	width: 0;
}

/******************************
ROOT ADD
******************************/

#rootadd {
	padding: 5px;
	vertical-align: middle;
	border-top: 1px solid;
	border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px;
}

#rootadd table {
	width: 100%;
	border-collapse: collapse;
}

#rootadd table td.progress {
	width: 100%;
}

#rootadd table td.button button {
	margin: 0 5px 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

