/******************************
GENERAL
******************************/

body {
	position: relative;
	min-width: 750px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/******************************
HEADER
******************************/

h1 {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 72px;
	margin: 0;
}

/******************************
LIBRARY
******************************/

#library {
	margin: 5px 0 0 0;
	border: 3px solid;
	border-radius: 5px; -moz-border-radius: 5px;
}

/******************************
CONTROLS
******************************/

#header,
#footer {
	margin: 0;
	padding: 5px;
}

#header {
	position: relative;
	border-top-left-radius: 3px; -moz-border-top-left-radius: 3px;
	border-top-right-radius: 3px; -moz-border-top-right-radius: 3px;
	border-bottom: 1px solid;
}

#header > span {
	margin: 0 0 0 10px;
}

#header > span:first-child {
	margin: 0;
}

#header span,
#header a,
#header select,
#header button {
	display: inline-block; *zoom: 1;
	vertical-align: middle;		
}

/******************************
CHECKER
******************************/

#checker {
	line-height: 24px;
}

#checker a {
	margin: 0 10px 0 0;
	text-decoration: none;
}

/******************************
LIBRARY SWITCHER
******************************/

#switcher > span > span,
#switcher > span > select {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#switcher span.spinner {
	display: inline-block; *zoom: 1;
	height: 16px;
	width: 16px;
}

/******************************
VIEW SELECTOR
******************************/

#views a {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#views a.tile {
	background: url('/image/application_view_tile.png');
}

#views a.list {
	background: url('/image/application_view_list.png');
}

/******************************
DROPDOWNS
******************************/

span.dropdown {
	display: inline-block; *zoom: 1;
}

span.dropdown > button {
	line-height: normal;
}

span.dropdown > button > span {
	display: inline-block; *zoom: 1;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

span.dropdown > button > span.indicator {
	width: 16px;
	margin: 0 0 0 3px;
	background: url('/image/bullet_arrow_down.png') no-repeat top left;
}

span.dropdown.open > button > span.indicator {
	background: url('/image/bullet_arrow_up.png') no-repeat top left;
}

/******************************
PAGER
******************************/

#pager {
	position: absolute;
	top: 5px;
	right: 5px;
}

#pager select {
	margin: 0;
}

/******************************
HINTS
******************************/

#footer {
	position: relative;
	height: 16px;
	border-top: 1px solid;
	border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px;
}

div.hints {
	position: relative;
	padding: 0 0 0 20px;
	z-index: 2;
	background: url('/image/information.png') no-repeat center left;
}

div.hints > a.next {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background: url('/image/arrow_refresh.png') no-repeat;
}

/******************************
PROGRESS
******************************/

div.progress {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

div.progress > div.bar {
	height: 100%;
	width: 100%;
}

