/******************************
GENERAL
******************************/

body {
	position: relative;
	background: #f4ffd5;
}

a {
	color: #8ea911;
}

/******************************
HEADER
******************************/

h1 {
	display: inline-block; *zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 72px;
	margin: 0;
}

/******************************
LIBRARY
******************************/

#library {
	margin: 5px 0 0 0;
	border: 3px solid #a5c414;
	border-radius: 5px; -moz-border-radius: 5px;
	background: #a5c414;
}

/******************************
CONTROLS
******************************/

#kinds,
#controls,
#rootadd {
	margin: 0;
	padding: 2px 5px;
	background: #e3f29b;
}

#kinds {
	border-top-left-radius: 3px; -moz-border-top-left-radius: 3px;
	border-top-right-radius: 3px; -moz-border-top-right-radius: 3px;
}

#controls {
	height: 24px;
	line-height: 24px;
	vertical-align: bottom;
	border-bottom: 1px solid #a5c414;
}

#controls > a {
	margin: 0 10px 0 0;
	text-decoration: none;
}

/******************************
LIBRARY SWITCHER
******************************/

#switcher > span > span {
	margin: 0 5px 0 0;
}

/******************************
PAGER
******************************/

#pager {
	position: absolute;
	margin: 0 5px 0 0;
	right: 5px;
}

/******************************
ROOT ADD
******************************/

#rootadd {
	padding: 5px;
	vertical-align: middle;
	border-top: 1px solid #a5c414;
	border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px;
}

#rootadd input,
#rootadd span,
#rootadd button {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#rootadd input {
	border: 1px solid #8ea911;
	border-radius: 3px; -moz-border-radius: 3px;	
}


