/******************************
GENERAL POPUP
******************************/

div.popup {
	position: absolute;
	z-index: 100;
	margin: 5px;
	padding: 3px;
	overflow: hidden;
	text-align: center;
	border: 2px solid;
	border-radius: 5px; -moz-border-radius: 5px;
	background: white;
}

/******************************
CENTERED POPUP
******************************/

div.popup.centered {
	position: fixed;
	width: 300px;
	box-shadow: 0 0 10px #444; -moz-box-shadow: 0 0 10px #444;
}

/******************************
KEYWORDS POPUP
******************************/

div.popup > table.keywords td {
	text-align: left;
	vertical-align: top;
}

div.popup > table.keywords td.key {
	font-weight: bold;
}

/******************************
DIRECTORY SELECTOR POPUP
******************************/

div.popup > div.spinner {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
}

div.popup > span.title {
	font-size: 14px;
	font-weight: bold;
}

div.popup > table.status {
	margin: 5px 0 0;
}

div.popup > div.tree > ul.root {
	height: 200px;
	margin: 5px 0;
	background: white;
	overflow-y: scroll;
}

