/******************************
GENERAL
******************************/

span.tag {
	display: inline-block; *zoom: 1;
	line-height: 16px;
	margin: 3px 5px 3px 0;
	vertical-align: top;
}

span.tag.display,
span.tag > input {
	padding: 1px 3px 1px;
	border-radius: 3px; -moz-border-radius: 3px;
}

/******************************
EDIT - DISPLAY STATE
******************************/

span.tag.display {
	color: #888;
	background: #eee;
}

/* highlighted tag (search hit) */
span.tag.display.hit {
	margin: 1px 5px 1px 0;
	border-width: 2px;
	border-style: solid;
}

/* tag with kind */
span.tag.kind1 {
	color: #5a6986;
	border-color: #5a6986;
	background: #dee5f2;
}
span.tag.kind2 {
	color: #206cff;
	border-color: #206cff;
	background: #e0ecff;
}
span.tag.kind3 {
	color: #00c;
	border-color: #00c;
	background: #dfe2ff;
}
span.tag.kind4 {
	color: #5229a3;
	border-color: #5229a3;
	background: #e0d5f9;
}
span.tag.kind5 {
	color: #854f61;
	border-color: #854f61;
	background: #fde9f4;
}
span.tag.kind6 {
	color: #c00;
	border-color: #c00;
	background: #ffe3e3;
}
span.tag.kind7 {
	color: #ec7000;
	border-color: #ec7000;
	background: #fff0e1;
}
span.tag.kind8 {
	color: #b36d00;
	border-color: #b36d00;
	background: #fadcb3;
}
span.tag.kind9 {
	color: #ab8b00;
	border-color: #ab8b00;
	background: #f3e7b3;
}
span.tag.kind10 {
	color: #636330;
	border-color: #636330;
	background: #ffffd4;
}
span.tag.kind11 {
	color: #64992c;
	border-color: #64992c;
	background: #f9ffef;
}
span.tag.kind12 {
	color: #063;
	border-color: #063;
	background: #f1f5ec;
}
span.tag.kind13 {
	color: #dee5f2;
	border-color: #dee5f2;
	background: #5a6986;
}
span.tag.kind14 {
	color: #e0ecff;
	border-color: #e0ecff;
	background: #206cff;
}
span.tag.kind15 {
	color: #dfe2ff;
	border-color: #dfe2ff;
	background: #00c;
}
span.tag.kind16 {
	color: #e0d5f9;
	border-color: #e0d5f9;
	background: #5229a3;
}
span.tag.kind17 {
	color: #fde9f4;
	border-color: #fde9f4;
	background: #854f61;
}
span.tag.kind18 {
	color: #ffe3e3;
	border-color: #ffe3e3;
	background: #c00;
}
span.tag.kind19 {
	color: #fff0e1;
	border-color: #fff0e1;
	background: #ec7000;
}
span.tag.kind20 {
	color: #fadcb3;
	border-color: #fadcb3;
	background: #b36d00;
}
span.tag.kind21 {
	color: #f3e7b3;
	border-color: #f3e7b3;
	background: #ab8b00;
}
span.tag.kind22 {
	color: #ffffd4;
	border-color: #ffffd4;
	background: #636330;
}
span.tag.kind23 {
	color: #f9ffef;
	border-color: #f9ffef;
	background: #64992c;
}
span.tag.kind24 {
	color: #f1f5ec;
	border-color: #f1f5ec;
	background: #063;
}

/* content alignment */
span.tag > span,
span.tag > a,
span.tag > input,
span.tag > label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 10px;
}

/* buttons in tag */
span.tag > a.button {
	display: inline-block; *zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0px solid transparent;
	color: transparent;
}

span.tag > a.button.remove {
	background: url('/image/delete.png') no-repeat;
}

/******************************
EDIT - EDIT STATE
******************************/

/* tag editor */
span.tag.edit {
	position: relative;
	width: 122px;
	height: 15px;
}

span.tag.edit > div.background {
	position: absolute;
	bottom: -5px;
	left: -5px;
	height: 42px;
	width: 130px;
	background: #e3f29b;
	border: 1px solid #a5c414;
	border-radius: 3px; -moz-border-radius: 3px;
}

span.tag.edit > input {
	position: absolute;
	width: 120px;
	height: 13px;
	padding: 0;
	border: 1px solid #a5c414;
	font-size: 10px;
}

span.tag.edit > a.remove {
	position: absolute;
	top: -20px;
	right: 0px;
}

/******************************
ADD - DISPLAY STATE
******************************/

/* tag adder */
span.add.tag {
	background: #a5c414;
}

/* add button in add tag */
span.add.tag > a {
	margin: 0;
	color: #f9ffef;
	text-decoration: none;
}

/******************************
ADD - EDIT STATE
******************************/

/* add tag editor */
span.tag.edit.add {
	width: 122px;
}
span.tag.edit.add > input.focus {
	z-index: 2;
	border: 1px solid #a5c414;
	background: transparent;
}

/* add tag backdrop displaying best match */
span.tag.edit.add > input.backdrop {
	z-index: 1;
	color: silver;
	background: white;
}

