/*//////////////////////////////////////////////////////////////////////////////
// Tree
//
// Style sheet for the Tree control
//////////////////////////////////////////////////////////////////////////////*/

/******************************
GENERAL
******************************/

div.tree {
	text-align: left;
}

div.tree > table.status {
	width: 100%;
	margin: 0 auto;
	border-collapse: separate;
}

div.tree > table.status col.key {
	width: auto;
}

div.tree > table.status col.value {
	width: 100%;
}

div.tree > table.status span.selected {
	display: inline-block;
	width: 100%;
	background: white;
}

div.tree ul {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}

div.tree > ul.root {
	padding: 0;
}

div.tree li > span {
	line-height: 16px;
	vertical-align: middle;
}

div.tree li > span.name {
	cursor: pointer;
}

div.tree li.selected > span.name {
	font-weight: bold;
}

div.tree li > span.toggle {
	display: inline-block; *zoom: 1;
	height: 16px;
	width: 16px;
	cursor: pointer;
	background: url('/image/bullet_toggle_plus.png');
}

div.tree li.expanded > span.toggle {
	background: url('/image/bullet_toggle_minus.png');
}

div.tree li.dead > span.toggle {
	cursor: inherit;
	background: none;
}

