/******************************
GENERAL
******************************/

span.w_tagedit,
span.w_tagadd {
	display: inline-block; *zoom: 1;
	height: 12px;
	margin: 3px 5px 3px 0;
	vertical-align: top;
}

span.w_tagedit,
span.w_tagadd,
span.w_tag > input {
	padding: 1px 3px 1px;
	border-radius: 3px; -moz-border-radius: 3px;
}

/******************************
EDIT - DISPLAY STATE
******************************/

/* content alignment */
span.w_tag > span,
span.w_tag > a,
span.w_tag > input,
span.w_tag > label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 10px;
}

/******************************
EDIT - EDIT STATE
******************************/

/* tag editor */
span.w_tag.edit {
	position: relative;
	width: 122px;
	height: 14px;
	padding: 0;
}

span.w_tag.edit > div.background {
	position: absolute;
	bottom: -5px;
	left: -5px;
	height: 42px;
	width: 130px;
	border: 1px solid;
	border-radius: 3px; -moz-border-radius: 3px;
}

span.w_tag.edit > input {
	position: absolute;
	width: 120px;
	height: 13px;
	padding: 0;
	border: 1px solid #a5c414;
	font-size: 10px;
}

