/******************************
ADD - DISPLAY STATE
******************************/

/* tag adder */
span.w_tagadd.display {
	background: #a5c414;
}

/* add button in add tag */
span.w_tagadd.display > a {
	margin: 0;
	color: #f9ffef;
	text-decoration: none;
}

/******************************
ADD - EDIT STATE
******************************/

/* add tag editor */
span.w_tagadd.edit {
	width: 122px;
}
span.w_tagadd.edit > input.focus {
	z-index: 2;
	border: 1px solid #a5c414;
	background: transparent;
}

/* add tag backdrop displaying best match */
span.w_tagadd.edit > input.backdrop {
	z-index: 1;
	color: silver;
	background: white;
}

